---
layout: posts
---

   
       <!--
<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            
            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>
          
            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>
            
            <div class="links">
                {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
                {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
                {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
                {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
                {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow fa-2x"></i></a>{% endif %}
                <a href="feed.xml" target="_new"><i class="fa fa-rss fa-2x"></i></a>
              
               {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
            </div>
            
          </div>
          -->  
         {% for post in paginator.posts %} 
        <div class="col-md-12 main content-panel">
         <div align="center">

                <font color="#5dadf5">{{ post.title }}</font>
                <a href="{{ post.url | prepend: site.baseurl }}"> 

                <img src="{{post.fan}}" />
                </a>    
        
          </div>
        </div>
        {% endfor %}
	   

{% if paginator.page > 2 %} 
<li><a href="/page{{paginator.previous_page}}/">上一页</a></li> 
{% endif %} 
{% assign pageSize = 5 %} 
{% assign startPage = paginator.page | minus:pageSize %} 
{% if 2 > startPage %}	
{%	assign startPage = 2 %} 
{% endif %} 
{% assign endPage = paginator.page | plus:pageSize %} 
{% if endPage >= paginator.total_pages %}	
{%	assign endPage = paginator.total_pages | minus:1 %} 
{% endif %} 
{% for count in (startPage..endPage) %} 
{% if count == paginator.page %} 
<li><a href="#"><span class="current-page">{{count}}</span></a></li> 
{% else %} 
<li><a href="/page{{count}}/">{{count}}</a></li> 
{% endif %} 
{% endfor %} 
{% if paginator.next_page %} 
<li><a href="/page{{paginator.next_page}}/">下一页</a></li> 
{% endif %} 
<li><a href="/page{{paginator.total_pages}}/">末页</a></li> 
<li><a href="#">第{{paginator.page}}页 / 共{{paginator.total_pages}}页</a></li>
          <!--
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <ul>
                  {% for post in site.posts | limit: site.post_limit %}

                      <div>
                        
                        
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </div>

                  {% endfor %}
                  <li>
                      <small><i><a href="/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>


    </div>
</div>
-->